html {
  font-size: 62.5%;
  overflow-x: hidden;
  width: 100%; }

body {
  font-family: "helvetica_ultra_compressedRg";
  overflow-x: hidden;
  width: 100%; }

a {
  text-decoration: none;
  color: #fff; }

section {
  z-index: 3; }

footer {
  z-index: 0; }

.header_nav {
  font-family: "Conv_HelveticaCE-Cond";
  background-color: #111114;
  height: 94px; }
  .header_nav .header_logo {
    margin-top: 15px; }
  .header_nav .touch_menu {
    margin-top: 16px;
    font-size: 2em;
    color: #4b4b4d;
    padding-bottom: 30px;
    display: none;
    text-transform: uppercase;
    text-align: center; }
    .header_nav .touch_menu:hover {
      color: #96040d;
      border-bottom: 3px solid;
      padding-bottom: 27px; }
  .header_nav .nav {
    position: relative;
    font-size: 1.2em;
    height: 100%;
    float: right;
    z-index: 10; }
    .header_nav .nav .menu {
      padding-top: 22px;
      margin-bottom: 0;
      list-style: none;
      float: left; }
      .header_nav .nav .menu li {
        position: relative;
        float: left;
        margin: 10px 10px 0 10px;
        text-transform: uppercase; }
        .header_nav .nav .menu li a {
          text-align: center;
          color: #4b4b4d;
          display: block;
          padding-bottom: 34px; }
          .header_nav .nav .menu li a:hover {
            color: #96040d;
            border-bottom: 3px solid #96040d;
            padding-bottom: 30px; }
    .header_nav .nav .social_icons {
      margin-top: 28px;
      list-style: none;
      float: left; }
      .header_nav .nav .social_icons:after {
        content: "";
        clear: both;
        display: block; }
      .header_nav .nav .social_icons li {
        position: relative;
        float: left;
        text-transform: uppercase;
        margin: 5px;
        height: 29px;
        width: 29px; }
        .header_nav .nav .social_icons li a {
          display: block;
          width: inherit;
          height: inherit; }
        .header_nav .nav .social_icons li .facebook {
          background-image: url("../img/f.png"); }
          .header_nav .nav .social_icons li .facebook:hover {
            background-image: url("../img/f_hover.png"); }
        .header_nav .nav .social_icons li .twitter {
          background-image: url("../img/t.png"); }
          .header_nav .nav .social_icons li .twitter:hover {
            background-image: url("../img/t_hover.png"); }
        .header_nav .nav .social_icons li .youtube {
          background-image: url("../img/y.png"); }
          .header_nav .nav .social_icons li .youtube:hover {
            background-image: url("../img/y_hover.png"); }

.hero {
  position: relative;
  background-image: url("../img/hero_image.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  background-color: #f6f2ed;
  width: 100%;
  z-index: 5; }
  .hero .hdmi {
    position: absolute;
    left: 0;
    bottom: -50%;
    visibility: hidden;
    width: 20%;
    z-index: 40; }
    .hero .hdmi img {
      max-width: 100%; }
  .hero .hero_wrapper {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 1400px; }
    .hero .hero_wrapper .operation {
      position: absolute;
      padding-top: 5%;
      padding-left: 5%; }
      .hero .hero_wrapper .operation img {
        width: 120px;
        float: left; }
      .hero .hero_wrapper .operation .description_wrapper {
        border-left: 2px solid #454548;
        margin-left: 6px;
        padding-left: 6px;
        height: 120px;
        float: left;
        text-transform: uppercase;
        text-align: center;
        color: #454548; }
        .hero .hero_wrapper .operation .description_wrapper p {
          font-size: 2rem;
          letter-spacing: 2px;
          line-height: 3.4rem; }
        .hero .hero_wrapper .operation .description_wrapper .hit {
          font-size: 4.8rem; }
    .hero .hero_wrapper .devices {
      position: relative;
      float: left;
      width: 70%;
      padding-left: 10%;
      z-index: 25; }
      .hero .hero_wrapper .devices .spider_device {
        width: 90%; }
      .hero .hero_wrapper .devices .usb {
        position: absolute;
        width: 20%;
        top: 2%;
        left: 79%; }
      .hero .hero_wrapper .devices .card {
        position: absolute;
        width: 16%;
        top: 40%;
        left: 62%; }
    .hero .hero_wrapper .header_buy {
      position: absolute;
      right: 0;
      bottom: 25%;
      width: 200px;
      height: 150px;
      text-align: center; }
      .hero .hero_wrapper .header_buy .future, .hero .hero_wrapper .header_buy .communication, .hero .hero_wrapper .header_buy .now {
        color: #444447;
        text-transform: uppercase;
        font-family: "Conv_HelveticaCE-CondBold", Impact; }
      .hero .hero_wrapper .header_buy .future {
        font-size: 3rem;
        line-height: 2.8rem; }
      .hero .hero_wrapper .header_buy .communication {
        font-size: 1.8rem;
        line-height: 2.2rem; }
      .hero .hero_wrapper .header_buy .now {
        font-size: 6rem;
        line-height: 5rem; }
      .hero .hero_wrapper .header_buy .buy {
        position: absolute;
        display: block;
        font-family: "Conv_HelveticaCE-Cond";
        letter-spacing: 1px;
        background-color: #8e0d14;
        font-size: 1.8rem;
        bottom: 0;
        right: 20px;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 1rem;
        -moz-border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -o-border-radius: 1rem;
        -ms-border-radius: 1rem; }
        a.dload {
          position: absolute;
          display: block;
          font-family: "Conv_HelveticaCE-Cond";
          letter-spacing: 1px;
          background-color: #8e0d14;
          font-size: 1.8rem;
          right: 0;
          padding-right: 15px;
          padding-left: 15px;
          border-radius: 1rem;
          -moz-border-radius: 1rem;
          -webkit-border-radius: 1rem;
          -o-border-radius: 1rem;
          -ms-border-radius: 1rem; }

.start_page {
  position: relative;
  padding: 0 0 10% 0;
  background-color: #f6f2ed;
  color: #7c7c7c; }
  .start_page .unit {
    padding-top: 5%; }

.what {
  width: 50%;
  margin: 0 auto;
  text-align: center; }
  .what h3 {
    font-family: "Conv_HelveticaCE-CondBold";
    text-transform: uppercase;
    font-size: 3rem;
    border-bottom: 3px solid #8e0d14;
    letter-spacing: 1px; }
  .what p {
    font-family: Conv_HelveticaCE-Cond;
    letter-spacing: 1px;
    font-size: 2.6rem;
    line-height: 3rem;
    margin-bottom: 0; }

.units_wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto; }
  .units_wrapper .units {
    width: 20%;
    display: inline-block;
    margin: 2%;
    opacity: 0;
    transform: translateX(-40px);
    transition: all 1.3s ease-in-out; }
    .units_wrapper .units.is-showing {
      opacity: 1;
      transform: translateX(0px); }
    .units_wrapper .units figcaption {
      text-align: center;
      font-family: "Conv_HelveticaCE-Cond"; }
    .units_wrapper .units h4 {
      font-size: 2rem;
      margin-bottom: 0;
      letter-spacing: 1px; }
    .units_wrapper .units p {
      font-size: 1.4rem; }
  .units_wrapper img {
    max-width: 100%; }

.protocols {
  position: relative;
  text-align: center;
  padding: 10% 0 10% 0;
  color: #7c7c7c;
  background-color: #fffbf5; }
  .protocols .tor_unit:after {
    content: "";
    clear: both;
    display: block; }
  .protocols .protocol_unit {
    position: relative;
    width: 65%;
    padding-top: 10%;
    padding-bottom: 15%;
    margin: 0 auto; }
    .protocols .protocol_unit img {
      max-width: 100%; }
    .protocols .protocol_unit figcaption p {
      font-family: "Conv_HelveticaCE-Cond";
      position: absolute;
      font-size: 1.8rem;
      text-align: right;
      letter-spacing: 1px; }
    .protocols .protocol_unit figcaption .you {
      left: 25%; }
    .protocols .protocol_unit figcaption .friend {
      left: 66%; }
    .protocols .protocol_unit .tor_descr {
      float: left; }
      .protocols .protocol_unit .tor_descr .you_tor {
        left: 24%;
        bottom: 8%; }
      .protocols .protocol_unit .tor_descr .friend_tor {
        left: 65%;
        bottom: 8%; }
      .protocols .protocol_unit .tor_descr .your_spider {
        bottom: 43%;
        left: -35%; }

.whatsup p {
  position: relative;
  margin-left: -10%;
  width: 120%; }

.software_illustration {
  position: relative;
  background-image: url("../img/software_illustration.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #f6f2ed;
  width: 100%;
  height: 700px; }

.design_principles {
  position: relative;
  width: 100%;
  background-color: #fffbf5;
  padding: 10% 0 10% 0; }
  .design_principles .simple,
  .design_principles .private {
    transform: translate(-550px, 0);
    -webkit-transform: translate(-550px, 0);
    -o-transform: translate(-550px, 0);
    -moz-transform: translate(-550px, 0); }
  .design_principles .open,
  .design_principles .secure {
    transform: translate(550px, 0);
    -webkit-transform: translate(550px, 0);
    -o-transform: translate(550px, 0);
    -moz-transform: translate(550px, 0); }
  .design_principles .design_step {
    font-family: "Conv_HelveticaCE-Cond";
    color: #969594;
    position: relative;
    width: 100%;
    margin-left: 15%; }
    .design_principles .design_step img {
      max-width: 100%; }
    .design_principles .design_step h5 {
      font-weight: 600;
      letter-spacing: 1px;
      color: #7c7c7c;
      margin-bottom: 10px; }
    .design_principles .design_step ul {
      list-style-type: disc; }
      .design_principles .design_step ul li {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin: 0;
        padding: 0;
        letter-spacing: 1px; }

.design_mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  border-top: 36px solid #8e0d14;
  border-right: 36px solid transparent; }
  .design_mark p {
    position: relative;
    bottom: 34px;
    left: 30px;
    font-family: "helvetica_ultra_compressedRg", Impact;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff; }

.buy_spider_page {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url("../img/boxes.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #111114;
  padding-bottom: 15%;
  margin-bottom: 120px;
  z-index: 100; }
  .buy_spider_page .buy_spider_mark {
    position: absolute;
    top: 4.3%;
    right: 0;
    width: 180px;
    border-top: 36px solid #8e0d14;
    border-left: 36px solid transparent; }
    .buy_spider_page .buy_spider_mark p {
      position: relative;
      bottom: 34px;
      left: 30px;
      font-family: "helvetica_ultra_compressedRg";
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #fff; }
  .buy_spider_page .buy_box {
    font-family: "helvetica_ultra_compressedRg";
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.5px;
    position: absolute;
    top: 300px;
    right: 5%;
    width: 260px;
    height: 360px;
    text-align: center; }
    .buy_spider_page .buy_box .price {
      font-family: "Conv_HelveticaCE-Cond";
      letter-spacing: 1px;
      color: #525252; }
      .buy_spider_page .buy_box .price h5 {
        font-size: 2rem;
        margin: 0; }
      .buy_spider_page .buy_box .price p {
        font-family: "Conv_HelveticaCE-CondBold";
        font-size: 3rem;
        line-height: 3.4rem;
        margin-bottom: 15px; }
    .buy_spider_page .buy_box .buy_with_credit {
      font-family: "Conv_HelveticaCE-Cond";
      position: relative;
      margin: 0 auto;
      display: block;
      width: 80%;
      padding: 20px;
      letter-spacing: 1px;
      background-color: #8e0d14;
      border-radius: 2rem;
      -moz-border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -o-border-radius: 2rem;
      -ms-border-radius: 2rem; }
    .buy_spider_page .buy_box img {
      margin: 10px 0 10px 0; }
  .buy_spider_page .info_box {
    font-family: "Conv_HelveticaCE-Cond";
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 200px; }
    .buy_spider_page .info_box ul {
      list-style-type: disc; }
      .buy_spider_page .info_box ul li {
        margin: 0; }

.footer {
  position: fixed;
  bottom: 0;
  padding: 10px 0 10px 0;
  width: 100%;
  display: none; }
  .footer .social_icons {
    width: 130px;
    margin: 0 auto;
    list-style: none; }
    .footer .social_icons:after {
      content: "";
      clear: both;
      display: block; }
    .footer .social_icons li {
      position: relative;
      float: left;
      text-transform: uppercase;
      margin: 5px;
      height: 29px;
      width: 29px; }
      .footer .social_icons li a {
        display: block;
        width: inherit;
        height: inherit; }
      .footer .social_icons li .facebook {
        background-image: url("../img/f.png"); }
        .footer .social_icons li .facebook:hover {
          background-image: url("../img/f_hover.png"); }
      .footer .social_icons li .twitter {
        background-image: url("../img/t.png"); }
        .footer .social_icons li .twitter:hover {
          background-image: url("../img/t_hover.png"); }
      .footer .social_icons li .youtube {
        background-image: url("../img/y.png"); }
        .footer .social_icons li .youtube:hover {
          background-image: url("../img/y_hover.png"); }
  .footer p {
    font-family: "Conv_HelveticaCE-Cond";
    text-align: center;
    color: #b5b2b0;
    margin: 0;
    letter-spacing: 1px; }
  .footer .form {
    width: 310px;
    margin: 0 auto;
    font-family: "Conv_HelveticaCE-Cond";
    font-size: 1.4rem; }
    .footer .form input,
    .footer .form button {
      margin-bottom: 0; }
    .footer .form input {
      width: 200px;
      letter-spacing: 1px; }
    .footer .form button {
      width: 100px;
      margin: 0;
      padding: 0;
      text-align: center; }
      .footer .form button:hover {
        background-color: #2a2a2a;
        color: #fff;
        cursor: pointer; }
    .footer .form #msg {
      padding-top: 4px;
      text-align: center; }

.protocols .transRight {
  transform: translate(550px, 0);
  -webkit-transform: translate(550px, 0);
  -o-transform: translate(550px, 0);
  -moz-transform: translate(550px, 0); }

.protocols .transLeft {
  transform: translate(-550px, 0);
  -webkit-transform: translate(-550px, 0);
  -o-transform: translate(-550px, 0);
  -moz-transform: translate(-550px, 0); }

/*# sourceMappingURL=main.css.map */
