
/* Larger than mobile */

/* Larger than tablet */

/* Larger than desktop */

@media (max-width: 1000px) {
	.hero .hero_wrapper .operation {
		padding: 15px;
	}
	.hero .hero_wrapper .operation img {
		width: 100px
	}
	.hero .hero_wrapper .operation .description_wrapper {
		height: 100px
	}
	.hero .hero_wrapper .operation .description_wrapper p{
		font-size: 1.4rem;
		line-height: 3rem;
	}
	.hero .hero_wrapper .operation .description_wrapper .hit{
		font-size: 3.4rem;
	}
	.hero .hero_wrapper .header_buy {
		width: 160px;
		height: 130px;
	}
	.hero .hero_wrapper .header_buy .future{
		font-size: 2.2rem;
		line-height: 2.4rem;
	}
	.hero .hero_wrapper .header_buy .communication{
		font-size: 1.3rem;
		line-height: 2.2rem;
	}
	.hero .hero_wrapper .header_buy .now {
		font-size: 4.6rem;
		line-height: 4.6rem;
	}
	.what {
		width: 72%;
	}
	.what h3{
		font-size: 2rem;
	}
	.what p{
		font-size: 1.8rem;
	}
	.protocols .protocol_unit .tor_descr .your_spider {
			bottom: 42%;
			left: -36%;
	}
	.protocols .protocol_unit .tor_descr .you_tor {
			left: 23%;
			bottom: 6%;
	}
	.protocols .protocol_unit .tor_descr .friend_tor {
			left: 64%;
			bottom: 6%;
	}
	.design_principles .design_step {
		margin-left: 3%;
	}
	
	.header_nav .nav .menu li {
		margin: 10px 4px 10px 4px
	}
	
}





@media (max-width: 1150px) {

	.header_nav .ten .touch_menu {
		display: block;
		padding-left: 10px;
	}
	.header_nav .nav {
		position: absolute;
		display: none;
		width: 100%;
	}
	.header_nav .nav .social_icons {
		position: relative;
		width: 100%;
		margin-top: 0;
		padding-left: 38%;
	}
	.header_nav .nav .social_icons li a{
		background-color: #fff;
		border-radius: 50%
	}
	.header_nav .nav .menu ul{
		width: 100%;
	}
	.header_nav .nav .menu{
		position: relative;
		width: 100%;
	}
	.header_nav .nav .menu li{
		float: none;
		width: 100%;
		height: 40px;
		padding-bottom: 0;
		background-color: rgba(0, 0, 0, 0.49);
	}

	.header_nav .nav .menu li a{
		padding-bottom: 0;
		color: #fff;
	}
	.header_nav .nav .menu li a:hover{
		border: none;
		padding-bottom: 5px;
	}
	.hero .hero_wrapper .operation {
		padding: 10px;
	}
	.hero .hero_wrapper .operation img {
		width: 70px
	}
	.hero .hero_wrapper .operation .description_wrapper {
		height: 70px
	}
	.hero .hero_wrapper .operation .description_wrapper p{
		font-size: 1.2rem;
		line-height: 2rem;
	}
	.hero .hero_wrapper .operation .description_wrapper .hit{
		font-size: 2.8rem;
	}
	.protocols .protocol_unit figcaption .you {
		left: 22%;
	}
	.protocols .protocol_unit figcaption .friend {
		left: 62%;
	}
	.protocols .protocol_unit .tor_descr .your_spider {
			bottom: 39%;
			left: -39%;
	}
	.protocols .protocol_unit .tor_descr .you_tor {
			left: 21%;
			bottom: 4%;
	}
	.protocols .protocol_unit .tor_descr .friend_tor {
			left: 61%;
			bottom: 4%;
	}
	.design_principles .design_step {
		margin-left: 5%;
	}
	.header_nav .nav .menu li {
		margin: 10px
	}
}



/* Larger than Desktop HD */
@media (min-width: 1200px) {

}

@media (max-width: 950px) {
.units_wrapper .units {
	width: 100%;
}
}

/* Larger than phablet */
/*
@media (max-width: 550px) {
	.header_nav .two .header_logo .touch_menu {
		display: block;
		width: 50%;
		float: right;
		padding-bottom: 15px;
	}
	.header_nav .two .header_logo .touch_menu:hover {
	padding-bottom: 12px;
	}
	.header_nav .ten .touch_menu {
		display: none;
	}
	.hero .hero_wrapper .operation {
		padding: 10px;
	}
	.hero .hero_wrapper .operation img {
		width: 40px
	}
	.hero .hero_wrapper .operation .description_wrapper {
		height: 40px
	}
	.hero .hero_wrapper .operation .description_wrapper p{
		font-size: .8rem;
		line-height: 1.2rem;
	}
	.hero .hero_wrapper .operation .description_wrapper .hit{
		font-size: 2rem;
	}
	.hero .hero_wrapper .header_buy {
		width: 120px;
		height: 100px;
	}
	.hero .hero_wrapper .header_buy .future{
		font-size: 1.6rem;
		line-height: 1.8rem;
	}
	.hero .hero_wrapper .header_buy .communication{
		font-size: 1rem;
		line-height: 1.2rem;
	}
	.hero .hero_wrapper .header_buy .now {
		font-size: 3.2rem;
		line-height: 3.2rem;
	}
	.units_wrapper .units {
		width: 100%;
	}
	.what h3{
		font-size: 1.6rem;
		line-height: 1.6rem;
	}
	.what p{
		font-size: 1.4rem;
		line-height: 1.4rem;
	}
	.protocols .protocol_unit figcaption .you {
		left: 22%;
	}
	.protocols .protocol_unit figcaption .friend {
		left: 62%;
	}
	.protocols .protocol_unit .tor_descr .your_spider {
			font-size: 1.4rem;
	}
	.protocols .protocol_unit .tor_descr .you_tor {
			left: 20%;
			bottom: 2%;
	}
	.protocols .protocol_unit .tor_descr .friend_tor {
			left: 60%;
			bottom: 2%;
	}
	.design_principles .design_step {
		margin: 0 auto;
		width: 80%;
	}
	.buy_spider_page {
		margin-bottom: 150px;
	}
}
@media (max-width: 400px) {
	.what h3{
		font-size: 1.2rem;
	}
	.what p{
		font-size: 1rem;
	}
.protocols .protocol_unit .tor_descr .your_spider {
			font-size: 1.2rem;
			bottom: 37%;
			left: -36%
	}
	.protocols .protocol_unit .tor_descr .you_tor {
			left: 19%;
			bottom: -1%;
	}
	.protocols .protocol_unit .tor_descr .friend_tor {
			left: 58%;
			bottom: -1%;
	}
	.hero .hero_wrapper .header_buy .future{
		font-size: 1.6rem;
		line-height: 1.8rem;
	}
	.hero .hero_wrapper .header_buy .communication{
		font-size: 1rem;
		line-height: 1.2rem;
	}
	.hero .hero_wrapper .header_buy .now {
		font-size: 3.2rem;
		line-height: 3.2rem;
	}
}
*/