html
	font-size: 62.5%
	overflow-x: hidden
	width: 100%
body
	font-family: "helvetica_ultra_compressedRg"
	overflow-x: hidden
	width: 100%
a
	text-decoration: none
	color: #fff
section
	z-index: 3
footer
	z-index: 0
.header_nav
	font-family: "Conv_HelveticaCE-Cond"
	background-color: #111114
	height: 94px
	.header_logo
		margin-top: 15px
	.touch_menu
		margin-top: 16px
		font-size: 2em
		color: #4b4b4d
		padding-bottom: 30px
		display: none
		text-transform: uppercase
		text-align: center
		&:hover
			color: #96040d
			border-bottom: 3px solid
			padding-bottom: 27px
	.nav
		position: relative
		font-size: 1.2em
		height: 100%
		float: right
		z-index: 10
		.menu
			padding-top: 22px
			margin-bottom: 0
			list-style: none
			float: left
			li
				position: relative
				float: left
				margin: 10px 10px 0 10px
				text-transform: uppercase
				a
					text-align: center
					color: #4b4b4d
					display: block
					padding-bottom: 34px
					&:hover
						color: #96040d
						border-bottom: 3px solid #96040d
						padding-bottom: 30px
		.social_icons
			margin-top: 28px
			list-style: none
			float: left
			&:after
				content: ""
				clear: both
				display: block
			li
				position: relative
				float: left
				text-transform: uppercase
				margin: 5px
				height: 29px
				width: 29px
				a
					display: block
					width: inherit
					height: inherit
				.facebook
					background-image: url("../img/f.png")
					&:hover
						background-image: url("../img/f_hover.png")
				.twitter
					background-image: url("../img/t.png")
					&:hover
						background-image: url("../img/t_hover.png")
				.youtube
					background-image: url("../img/y.png")
					&:hover
						background-image: url("../img/y_hover.png")

.hero
	position: relative
	background-image: url('../img/hero_image.jpg')
	background-repeat: no-repeat
	background-position: center top
	background-size: 100%
	background-color: #f6f2ed
	width: 100%
	z-index: 5
	.hdmi
		position: absolute
		left: 0
		bottom: -50%
		width: 20%
		z-index: 40
		img
			max-width: 100%
	.hero_wrapper
		position: relative
		margin: 0 auto
		width: 90%
		max-width: 1400px
		.operation
			position: absolute
			padding-top: 5%
			padding-left: 5%
			img
				width: 120px
				float: left
			.description_wrapper
				border-left: 2px solid #454548
				margin-left: 6px
				padding-left: 6px
				height: 120px
				float: left
				text-transform: uppercase
				text-align: center
				color: #454548
				p
					font-size: 2rem
					letter-spacing: 2px
					line-height: 3.4rem
				.hit
					font-size: 4.8rem
		.devices
			position: relative
			float: left
			width: 70%
			padding-left: 10%
			z-index: 25
			.spider_device
				width: 90%
			.usb
				position: absolute
				width: 20%
				top: 2%
				left: 79%
			.card
				position: absolute
				width: 16%
				top: 40%
				left: 62%
		.header_buy
			position: absolute
			right: 0
			bottom: 25%
			width: 200px
			height: 150px
			text-align: center
			.future, .communication, .now
				color: #444447
				text-transform: uppercase
				font-family: "Conv_HelveticaCE-CondBold", Impact
			.future
				font-size: 3rem
				line-height: 2.8rem
			.communication
				font-size: 1.8rem
				line-height: 2.2rem
			.now
				font-size: 6rem
				line-height: 5rem
			.buy
				position: absolute
				display: block
				font-family: "Conv_HelveticaCE-Cond"
				letter-spacing: 1px
				background-color: #8e0d14
				font-size: 1.8rem
				bottom: 0
				right: 0
				padding-right: 15px
				padding-left: 15px
				border-radius: 1rem
				-moz-border-radius: 1rem
				-webkit-border-radius: 1rem
				-o-border-radius: 1rem
				-ms-border-radius: 1rem
.start_page
	position: relative
	padding: 0 0 10% 0
	background-color: #f6f2ed
	color: #7c7c7c
	.unit
		padding-top: 5% 
.what
	width: 50%
	margin: 0 auto
	text-align: center
	h3
		font-family: "Conv_HelveticaCE-CondBold"
		text-transform: uppercase
		font-size: 3rem
		border-bottom: 3px solid #8e0d14
		letter-spacing: 1px
	p
		font-family: Conv_HelveticaCE-Cond
		letter-spacing: 1px
		font-size: 2.6rem
		line-height: 3rem
		margin-bottom: 0
	
			
.units_wrapper
	position: relative
	width: 80%
	margin: 0 auto
	.units
		width: 20%
		display: inline-block
		margin: 2%
		opacity: 0
		transform: translateX(-40px)
		transition: all 1.3s ease-in-out
		&.is-showing
			opacity: 1
			transform: translateX(0px)
		figcaption
			text-align: center
			font-family: "Conv_HelveticaCE-Cond"
		h4
			font-size: 2rem
			margin-bottom: 0
			letter-spacing: 1px
		p
			font-size: 1.4rem
	img
		max-width: 100%
	

.protocols
	position: relative
	text-align: center
	padding: 10% 0 10% 0
	color: #7c7c7c
	background-color: #fffbf5
	.tor_unit
		&:after
			content: ""
			clear: both
			display: block
	.protocol_unit
		position: relative
		width: 65%
		padding-top: 10%
		padding-bottom: 15%
		margin: 0 auto
		img
			max-width: 100%
		figcaption
			p
				font-family: "Conv_HelveticaCE-Cond"
				position: absolute
				font-size: 1.8rem
				text-align: right
				letter-spacing: 1px
		
			.you
				left: 25%
			.friend
				left: 66%	
		.tor
			position: relative
			float: right
			padding-right: 4%
			max-width: 140%
		.tor_descr
			float: left
			.you_tor
				left: 24%
				bottom: 8%
			.friend_tor
				left: 65%
				bottom: 8%
			.your_spider
				bottom: 43%
				left: -35%

.whatsup
	p
		position: relative
		margin-left: -10%
		width: 120%
.software_illustration
	position: relative
	background-image: url('../img/software_illustration.jpg')
	background-repeat: no-repeat
	background-position: center top
	background-size: cover
	background-color: #f6f2ed
	width: 100%
	height: 700px
.design_principles
	position: relative
	width: 100%
	background-color: #fffbf5
	padding: 10% 0 10% 0
	.simple,
	.private
		transform: translate(-550px,0)
		-webkit-transform: translate(-550px,0) 
		-o-transform: translate(-550px,0) 
		-moz-transform: translate(-550px,0) 
	.open,
	.secure
		transform: translate(550px,0)
		-webkit-transform: translate(550px,0) 
		-o-transform: translate(550px,0) 
		-moz-transform: translate(550px,0) 
	
	.design_step
		font-family: "Conv_HelveticaCE-Cond"
		color: #969594
		position: relative
		width: 100%
		margin-left: 15%
		img
			max-width: 100%
		h5
			font-weight: 600
			letter-spacing: 1px
			color: #7c7c7c
			margin-bottom: 10px
		ul
			list-style-type: disc
			li
				font-weight: 400
				font-size: 1.8rem
				line-height: 2.2rem
				margin: 0
				padding: 0
				letter-spacing: 1px
			
.design_mark
	position: absolute
	top: 0
	left: 0
	width: 200px
	border-top: 36px solid #8e0d14
	border-right: 36px solid transparent
	p
		position: relative
		bottom: 34px
		left: 30px
		font-family: "helvetica_ultra_compressedRg", Impact
		font-size: 2rem
		text-transform: uppercase
		letter-spacing: 1px
		color: #fff
.buy_spider_page
	position: relative
	width: 100%
	height: 700px
	background-image: url('../img/boxes.jpg')
	background-repeat: no-repeat
	background-position: center top
	background-size: cover
	background-color: #111114
	padding-bottom: 15%
	margin-bottom: 120px
	z-index: 100
	.buy_spider_mark
		position: absolute
		top: 4.3%
		right: 0
		width: 180px
		border-top: 36px solid #8e0d14
		border-left: 36px solid transparent
		p
			position: relative
			bottom: 34px
			left: 30px
			font-family: "helvetica_ultra_compressedRg"
			font-size: 2rem
			text-transform: uppercase
			letter-spacing: 1px
			color: #fff
	.buy_box
		position: absolute
		bottom: 0
		right: 5%
		width: 260px
		height: 360px
		text-align: center
		.price
			font-family: "Conv_HelveticaCE-Cond"
			letter-spacing: 1px
			color: #525252
			h5
				font-size: 2rem
				margin: 0
			p
				font-family: "Conv_HelveticaCE-CondBold"
				font-size: 3rem
				line-height: 3.4rem
				margin-bottom: 15px
		.buy_with_credit
			font-family: "Conv_HelveticaCE-Cond"
			position: relative
			margin: 0 auto
			display: block
			width: 80%
			padding: 5px
			letter-spacing: 1px
			background-color: #8e0d14
			border-radius: 2rem
			-moz-border-radius: 2rem
			-webkit-border-radius: 2rem
			-o-border-radius: 2rem
			-ms-border-radius: 2rem
		img
			margin: 10px 0 10px 0
	
	.info_box
		font-family: "Conv_HelveticaCE-Cond"
		position: absolute
		left: 5%
		bottom: 5%
		width: 200px
		ul
			list-style-type: disc
			li
				margin: 0
		
	
.footer
	position: fixed
	bottom: 0
	padding: 10px 0 10px 0
	width: 100%
	display: none
	.social_icons
		width: 130px
		margin: 0 auto
		list-style: none
		&:after
			content: ""
			clear: both
			display: block
		li
			position: relative
			float: left
			text-transform: uppercase
			margin: 5px
			height: 29px
			width: 29px
			a
				display: block
				width: inherit
				height: inherit
			.facebook
				background-image: url("../img/f.png")
				&:hover
					background-image: url("../img/f_hover.png")
			.twitter
				background-image: url("../img/t.png")
				&:hover
					background-image: url("../img/t_hover.png")
			.youtube
				background-image: url("../img/y.png")
				&:hover
					background-image: url("../img/y_hover.png")

	p
		font-family: "Conv_HelveticaCE-Cond"
		text-align: center
		color: #b5b2b0
		margin: 0
		letter-spacing: 1px
	.form
		width: 310px
		margin: 0 auto
		font-family: "Conv_HelveticaCE-Cond"
		font-size: 1.4rem
		input,
		button
			margin-bottom: 0
		input
			width: 200px
			letter-spacing: 1px
		button
			width: 100px
			margin: 0
			padding: 0
			text-align: center
			&:hover
				background-color: #2a2a2a
				color: #fff
				cursor: pointer
		#msg
			padding-top: 4px
			text-align: center
	
	
	
	
.protocols .transRight
	transform: translate(550px,0)
	-webkit-transform: translate(550px,0) /** Chrome & Safari **/
	-o-transform: translate(550px,0) /** Opera **/
	-moz-transform: translate(550px,0) /** Firefox **/

.protocols .transLeft
	transform: translate(-550px,0)
	-webkit-transform: translate(-550px,0) /** Chrome & Safari **/
	-o-transform: translate(-550px,0) /** Opera **/
	-moz-transform: translate(-550px,0) /** Firefox **/
