@font-face {
    font-family: 'ariston_cirilicabold_italic';
    src: url('/Bitbucket/fonts/Ariston_Cirilica_Bold_Italic/ariston_cirilica_bold_italic-webfont.eot');
    src: url('/Bitbucket/fonts/Ariston_Cirilica_Bold_Italic/ariston_cirilica_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Bitbucket/fonts/Ariston_Cirilica_Bold_Italic/ariston_cirilica_bold_italic-webfont.woff2') format('woff2'),
         url('/Bitbucket/fonts/Ariston_Cirilica_Bold_Italic/ariston_cirilica_bold_italic-webfont.woff') format('woff'),
         url('/Bitbucket/fonts/Ariston_Cirilica_Bold_Italic/ariston_cirilica_bold_italic-webfont.ttf') format('truetype'),
         url('/Bitbucket/fonts/Ariston_Cirilica_Bold_Italic/ariston_cirilica_bold_italic-webfont.svg#ariston_cirilicabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_ultra_compressedRg';
    src: url('../../fonts/Helvetica_UltraCompressed/helvetica_ultracompressed_webfont.eot');
    src: url('../../fonts/Helvetica_UltraCompressed/helvetica_ultracompressed_webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Helvetica_UltraCompressed/helvetica_ultracompressed_webfont.woff2') format('woff2'),
         url('../../fonts/Helvetica_UltraCompressed/helvetica_ultracompressed_webfont.woff') format('woff'),
         url('../../fonts/Helvetica_UltraCompressed/helvetica_ultracompressed_webfont.ttf') format('truetype'),
         url('/Bitbucket/fonts/Helvetica_UltraCompressed/helvetica_ultracompressed_webfont.svg#helvetica_ultra_compressedRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaCE-Cond';
	src: url('../../fonts/HelveticaCE_Cond/HelveticaCE-Cond.eot');
	src: local('☺'), url('../../fonts/HelveticaCE_Cond/HelveticaCE-Cond.woff') format('woff'), url('../../fonts/HelveticaCE_Cond/HelveticaCE-Cond.ttf') format('truetype'), url('../../fonts/HelveticaCE_Cond/HelveticaCE-Cond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaCE-CondBold';
	src: url('../../fonts/HelveticaCE_CondBold/HelveticaCE-CondBold.eot');
	src: local('☺'), url('../../fonts/HelveticaCE_CondBold/HelveticaCE-CondBold.woff') format('woff'), url('../../fonts/HelveticaCE_CondBold/HelveticaCE-CondBold.ttf') format('truetype'), url('../../fonts/HelveticaCE_CondBold/HelveticaCE-CondBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

