
@font-face {
    font-family: 'ariston_cirilicabold_italic';
    src: url('ariston_cirilica_bold_italic-webfont.eot');
    src: url('ariston_cirilica_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('ariston_cirilica_bold_italic-webfont.woff2') format('woff2'),
         url('ariston_cirilica_bold_italic-webfont.woff') format('woff'),
         url('ariston_cirilica_bold_italic-webfont.ttf') format('truetype'),
         url('ariston_cirilica_bold_italic-webfont.svg#ariston_cirilicabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}